body{
  background: linear-gradient(to top, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
}

h5{
  font-family: "Sacramento", sans-serif; font-weight: bold; font-size: 500%;
  
}

p{
  font-family: "Sacramento", sans-serif; font-size: 400%; 
}

.row{
  margin: 5%;
}

.card{
  border-width: 5px;
}

.image{
  margin-top: 10px;
}

.btn{
  color: #ff9a9e;
  border-color: #ff9a9e;
  margin: 15% 0 15% 0;
  border-width: 5px;
}

.btn-lg{
  font-size: 350%;
}

.btn:hover, .btn:active, .btn:focus, a{
  color: white;
  background-color: #ff9a9e;
  border-color:#ff9a9e;
  outline: none;
  box-shadow: none;
}




