body{
  background: linear-gradient(to top, #d7c19f 0%, #f9ebdb 99%, white 100%);
}

h5{
  font-family: "Alex Brush", sans-serif; font-weight: bold; font-size: 500%;
  color: #B89764;
  
}

p{
  font-family: "Sanchez", sans-serif; font-size: 200%; 
  color: #A2AF9C;
}

.row{
  margin: 5%;
}

.card{
  border-width: 5px;
}

.image{
  margin-top: 10px;
}

.btn{
  color: black;
  border-color: black;
  margin: 15% 0 15% 0;
  border-width: 5px;
}

.btn-lg{
  font-size: 350%;
}

.btn:hover, .btn:active, .btn:focus, a{
  color: white;
  background-color: black;
  border-color:black;
  outline: none;
  box-shadow: none;
}




